<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>update</title>
</head>
<body bgcolor="{{bgcolor1}}">
    <center>
        <form action="{%url 'modify'%}" method="POST">
            {%csrf_token%}
            ID:{{data.id}}<br><br>
            <input type="hidden" name="id" value="{{data.id}}">
            Name:<input type="text" name="name" value="{{data.name}}"><br><br>
            Mobile:<input type="text" name="mobile" value="{{data.mobile}}"><br><br>
            Address:<input type="text" name="address" value="{{data.address}}"><br><br>
            Email:<input type="text" name="email" value="{{data.email}}"><br><br>
            <input type="submit" value="save"><br><br>

        </form>
    </center>
</body>
</html>